@use './vars.scss' as *;

.hero-container {
    width: 90%;
    height: 300px;
    margin: 10px 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: $colbalt;
}