@use 'vars.scss' as *;

// components
@use 'about.scss';
@use 'all-artwork.scss';
@use 'ar-view.scss';
@use 'ar.scss';
@use 'artwork-animation.scss';
@use 'artwork-detail.scss';
@use 'artwork.scss';
@use 'artworks.scss';
@use 'filter-sort.scss';
@use 'hero.scss';
@use 'loader.scss';
@use 'logo.scss';
@use 'map-nav.scss';
@use 'map.scss';
@use 'nav.scss';
@use 'popup.scss';